html{
	max-width: 700px;
	margin: 0 auto;
}
.inputstat{
	display: inline-block;
	margin: 0.25em;
}
textarea{
	width: 203px;
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}
table{
	width: 100%;
}
a{
	color: #666666;
}
a:visited{
	color: #666666;
}
a:active{
	color: #999967;
}
